<div class="button-container" *ngIf="isAdmin$ | async">
    <button class="gradient-button" routerLink="/crud-mesas">
      <i class="fas fa-plus"></i> Agregar Mesa
    </button>
</div>

<div class="mesas-container">
  <div *ngFor="let mesa of mesas" class="mesa-card" (click)="selectMesa(mesa.id)">
    <h3>Mesa {{ mesa.numero }}</h3>
    <h3 class="mesero" *ngIf="mesa.meseroId">
      <span class="bold-label d-block">Asignado por:</span>
      <span class="mesero-nombre">{{ mesa.meseroId }}</span>
    </h3>
    <p [ngClass]="{
        'estado-disponible': mesa.estado === 'DISPONIBLE',
        'estado-ocupada': mesa.estado === 'OCUPADA',
        'estado-reservada': mesa.estado === 'RESERVADA'
      }">
      Estado: {{ mesa.estado }}
    </p>
  </div>
</div>

<div class="selected-mesa" *ngIf="selectedMesa">
  <h2>Detalles de la Mesa: {{ selectedMesa.numero }}</h2>
  <p><strong>Capacidad:</strong> {{ selectedMesa.capacidad }}</p>
  <p><strong>Estado:</strong> {{ selectedMesa.estado }}</p>
  <div *ngIf="selectedMesa?.alimentos && selectedMesa.alimentos.length > 0" class="alimentos-container">
    <h3>Alimentos en la Mesa</h3>
    <div class="alimentos-grid">
      <div *ngFor="let alimento of selectedMesa.alimentos; let i = index" class="alimento-row">
        <div class="nombre-cell">
          <label [for]="'alimento-' + i">{{ alimento.nombre }}</label>
        </div>
        <div class="precio-cell">
          <span class="alimento-precio">${{ alimento.subtotal.toFixed(2) }}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedMesa?.alimentos && selectedMesa.alimentos.length > 0" class="total-container">
    <p><strong>Subtotal:</strong> ${{ selectedMesa.total }}</p>
  </div>

  <div *ngIf="selectedMesa?.alimentos && selectedMesa.alimentos.length > 0" class="payment-container">
    <button class="payment-button" (click)="proceedToPayment()">Proceder al Pago</button>
  </div>

  <!-- Línea divisora -->
  <hr class="divider" />

  <div *ngIf="selectedReserva">
    <h3>Datos de la Reserva</h3>
    <p><strong>Nombre del Cliente:</strong> {{ selectedReserva.clienteNombre }}</p>
    <p><strong>Fecha de Reserva:</strong> {{ selectedReserva.fechaReserva | date }}</p>
    <p><strong>Mesero:</strong> {{ selectedReserva.meseroNombre || 'No asignado' }}</p>
    <p><strong>Número de Personas:</strong> {{ selectedReserva.numeroPersonas }}</p>
  </div>

  <!-- Botones -->
  <button
    class="reserve-button"
    (click)="openReservaModal()"
    *ngIf="(isAdmin$ | async) && selectedMesa?.estado === 'DISPONIBLE'">
    Reservar Mesa
  </button>
  <div class="delete-button-container">
    <button
      class="delete-button"
      *ngIf="(isAdmin$ | async) && selectedMesa.estado === 'RESERVADA' && selectedMesa.reservaId" 
      (click)="onEliminarReserva()">
      Eliminar Reserva
    </button>
  </div>
</div>


<div *ngIf="showReservaModal" class="modal-overlay">
  <div class="modal-content">
    <h3>Reservar Mesa {{ selectedMesa?.numero }}</h3>
    <form [formGroup]="reservaForm" (ngSubmit)="onReservarMesa()">
      <div class="form-group">
        <label for="clienteNombre">Nombre del Cliente</label>
        <input
          id="clienteNombre"
          type="text"
          formControlName="clienteNombre"
          placeholder="Ingrese el nombre del cliente"
          required
        />
        <div *ngIf="reservaForm.get('clienteNombre')?.invalid && reservaForm.get('clienteNombre')?.touched" class="error">
          El nombre del cliente es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="numeroPersonas">Número de Personas</label>
        <input
          id="numeroPersonas"
          type="number"
          formControlName="numeroPersonas"
          placeholder="Ingrese el número de personas"
          required
        />
        <div *ngIf="reservaForm.get('numeroPersonas')?.invalid && reservaForm.get('numeroPersonas')?.touched" class="error">
          El número de personas es obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="fechaReserva">Fecha de la Reserva</label>
        <input
          id="fechaReserva"
          type="date"
          formControlName="fechaReserva"
          placeholder="Seleccione la fecha"
          required
        />
        <div *ngIf="reservaForm.get('fechaReserva')?.invalid && reservaForm.get('fechaReserva')?.touched" class="error">
          La fecha de la reserva es obligatoria.
        </div>
      </div>

      <div class="buttons-container">
        <button type="submit" class="reserve-button" [disabled]="reservaForm.invalid">
          Confirmar Reserva
        </button>
        <button type="button" class="cancel-button" (click)="closeReservaModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  (close)="modal.close()">
</app-modal>