.nota-de-venta-container {
    max-width: 420px;
    margin: 20px auto;
    padding: 10px;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #555555;
  }
  
  .nota-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #696969;
  }
  
  .nota-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nota-header h3 {
    margin: 0;
    font-size: 1.4rem;
  }

  .nota-header .fecha {
    font-size: 0.8rem;
  }
  
  .nota-body {
    margin-top: 10px;
  }

  .nota-body p {
    margin: 4px 0;
    font-size: .8rem;
  }

  .nota-body h4 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .productos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .productos-table th,
  .productos-table td {
    border: 1px solid #ffffff;
    padding: 5px;
    font-size: .8rem;
    text-align: left;
  }
  
  .productos-table th {
    background-color: #ffffff;
  }

  .total{
    display: block;
    text-align: right;
    margin-right: 25px;
  }

  hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
  }

  .no-notas {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    color: #666;
    font-style: italic;
  }
  
  