.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1003;
  }
  
  .modal-content {
    background-color: rgb(255, 255, 255);
    padding: 1.7rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 90%;
    position: relative;
    /* Solo agregar la animación si es un error */
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  
  .shake-animation {
    animation: shake 0.5s ease-in-out;
  }
  
  .modal-content p{
    font-size: 1rem;
  }
  
  .error-modal {
    background-color: rgb(255, 255, 255);
  }
  
  .error-modal p {
    color: rgb(208, 58, 58);
  }
  
  .success-modal {
    background-color: rgb(255, 255, 255);
    color: #28a745;
  }
  
  .success-modal p {
    color: #28a745;
  }
  
  .success-icon {
    font-size: 1.4rem;
    color: #28a745;
    margin-bottom: 1rem;
  }
  
  .error-icon {
    font-size: 1.4rem;
    color: #dc3545;
    margin-bottom: .7rem;
  }

  
  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  button.confirm-btn, 
  button.cancel-btn {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button.confirm-btn {
    background-color: #007bff; 
    color: white;
  }
  
  button.confirm-btn:hover {
    background-color: #0056b3;
  }
  
  button.cancel-btn {
    background-color: #28a745; 
    color: white;
  }
  
  button.cancel-btn:hover {
    background-color: #218838;
  }
  
  @media (max-width: 492px) {
    .modal-content {
      background-color: rgb(255, 255, 255);
      padding: 1.5rem;
      border-radius: 5px;
      text-align: center;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
      width: 350px;
      max-width: 80%;
      position: relative;
      margin-left: 0%;
    }
  
    .error-icon {
      font-size: 1.2rem;
      margin-bottom: .7rem;
    }
  
    .modal-content p {
      font-size: .87rem; 
    }
  
  
  }
  