<div class="mostrar-alimentos-container">

    <!-- Título -->
    <h1 class="text-center">Menú</h1>

    <!-- Input de busqueda -->
    <div class="buscar-alimento position-relative">
      <input 
        type="text" 
        class="form-control search-input" 
        placeholder="Buscar alimento por nombre" 
        aria-label="Buscar alimento"
        (input)="onSearchInput($event)" 
      />
      <svg 
        class="search-icon" 
        xmlns="http://www.w3.org/2000/svg" 
        height="24px" 
        viewBox="0 -960 960 960" 
        width="24px" >
        <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
      </svg>
    </div>
  
    <!-- Select de categoría -->
    <div class="filtro-categoria mt-4">
        <label for="categoria" class="form-label">Seleccione una Categoría:</label>
        <select 
          id="categoria" 
          class="form-select" 
          [(ngModel)]="selectedCategoria" 
          (change)="onCategoriaChange()">
          <option value="">Seleccione una categoría</option>
          <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
        </select>
      </div>
      
      <div class="filtro-subcategoria mt-4" *ngIf="subcategories.length > 0">
        <label for="subcategoria" class="form-label">Seleccione tipo de bebida:</label>
        <select 
          id="subcategoria" 
          class="form-select" 
          [(ngModel)]="selectedSubcategoria" 
          (change)="onSubcategoriaChange()">
          <option value="">Seleccione un tipo de bebida</option>
          <option *ngFor="let sub of subcategories" [value]="sub">{{ sub }}</option>
        </select>
      </div>

       <!-- Tarjeta de alimentos -->
      <div class="alimentos-grid mt-5"  *ngIf="alimentos.length > 0">
        <div *ngFor="let alimento of alimentos" class="alimento-card" (click)="seleccionarAlimento(alimento)">
          <div class="alimento-details">
            <h5>{{ alimento.nombre }}</h5>
            <p>{{ alimento.descripcion }}</p>
            <p><strong>Precio:</strong> ${{ alimento.precio.toFixed(2) }}</p>
            <p><strong>Disponible:</strong> {{ alimento.activo ? 'Sí' : 'No' }}</p>
            <p><strong>Cantidad Restante:</strong> {{ alimento.cantidadRestante }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="alimentos.length < 1 && searchQuery" class="text-center mt-5">
        <p class="text-muted">No se encontraron alimentos para "<strong>{{ searchQuery }}</strong>".</p>
      </div>
  </div>

  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal-content">
      <h4>Editar Alimento</h4>
      <form>
        <!-- Nombre -->
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input 
            id="nombre" 
            type="text" 
            class="form-control" 
            [(ngModel)]="selectedAlimento!.nombre" 
            name="nombre" />
        </div>
  
        <!-- Descripción -->
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea 
            id="descripcion" 
            class="form-control" 
            [(ngModel)]="selectedAlimento!.descripcion" 
            name="descripcion"></textarea>
        </div>
  
        <!-- Precio -->
        <div class="form-group">
          <label for="precio">Precio</label>
          <input 
            id="precio" 
            type="number" 
            class="form-control" 
            [(ngModel)]="selectedAlimento!.precio" 
            name="precio" />
        </div>
  
        <!-- Cantidad -->
        <div class="form-group">
          <label for="cantidad">Cantidad Restante</label>
          <input 
            id="cantidad" 
            type="number" 
            class="form-control" 
            [(ngModel)]="selectedAlimento!.cantidadRestante" 
            name="cantidad" />
        </div>
        <div class="form-group">
          <label for="activo">Disponible</label>
          <label class="switch">
            <input
              id="activo"
              type="checkbox"
              [(ngModel)]="selectedAlimento!.activo"
              name="activo"
            />
            <span class="slider round"></span>
          </label>
        </div>
  
        <!-- Botones -->
        <div class="modal-actions mt-3 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
        </div>
      </form>
    </div>
  </div>