<div class="facturas-container">
    <h2 class="title">Facturas</h2>
    
    <div *ngFor="let factura of facturas; let i = index" class="factura-card">
      <div class="factura-header">
        <h3>Factura {{ i + 1 }}</h3>
      </div>
      <hr />
  
      <div class="factura-body">
        <p><strong>Fecha:</strong> {{ factura.fecha | date: 'EEEE, dd \'de\' MMMM \'de\' yyyy, h:mm a' }}</p>
        <p><strong>Número de Mesa:</strong> {{ factura.numeroMesa }}</p>
        <p><strong>Mesero:</strong> {{ factura.meseroNombre }}</p>
        <p><strong>Cliente ID:</strong> {{ factura.pago.clienteId }}</p>
        <p><strong>Nombre del Cliente:</strong> {{ factura.pago.nombreCliente }}</p>
        <p *ngIf="factura.pago.correo"><strong>Correo:</strong> {{ factura.pago.correo }}</p>
  
        <h4>Productos Consumidos:</h4>
      <ul>
        <li *ngFor="let alimento of factura.pago.descripcionAlimentos">
          {{ alimento.cantidad }} x {{ alimento.nombre }} ({{ alimento.subtotal | currency }})
        </li>
      </ul>

      <p><strong>Subtotal:</strong> {{ factura.subtotal | currency }}</p>
      <p><strong>IVA (15%):</strong> {{ factura.iva | currency }}</p>
      <p><strong>Total:</strong> {{ factura.pago.monto | currency }}</p>
      <p><strong>Forma de Pago:</strong> {{ factura.pago.formaPago }}</p>
    </div>
  </div>
</div>