<div class="gestion-alimentos-container">
  <h1>Gestión de Alimentos</h1>

  <div class="d-flex justify-content-center mt-3">
    <button
      class="btn btn-primary"
      (click)="toggleChildRoute()">
      {{ currentRoute.includes('/crud') ? 'Mostrar Alimentos' : 'Administrar Alimentos' }}
    </button>
  </div>

  <div class="d-flex justify-content-center mt-4" *ngIf="currentRoute.includes('/crud') || currentRoute.includes('/mostrar-alimentos')">
    <button
      class="btn btn-dark"
      (click)="volverPaginaPrincipal()">
      Volver a Página Principal
    </button>
  </div>

  <router-outlet></router-outlet>
</div>