.gestion-alimentos-container {
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
}

.gestion-alimentos-container h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-primary {
  background: linear-gradient(90deg, #ff8c00, #ff6600); 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.05); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.btn-dark {
  background-color: #343a40; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-dark:hover {
  background-color: #495057; 
  transform: scale(1.05); 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Margen superior para el router-outlet */
.gestion-alimentos-container router-outlet {
  display: block; 
  border-top: 3px solid #a2998d; 
  margin-top: 20px; 
  padding-top: 15px; 
}