<div class="mesas-container">
  <div *ngFor="let mesa of mesasAsignadas" class="mesa-card" (click)="selectMesa(mesa.id)"
      [class.selected]="mesa.id === selectedMesa?.id">
      <h3>Mesa {{ mesa.numero }}</h3>
      <p><strong>Capacidad:</strong> {{ mesa.capacidad }}</p>
      <p><strong>Total:</strong> ${{ mesa.total }}</p>
  </div>
</div>

<div class="selected-mesa" *ngIf="selectedMesa">
  <h2>Detalles de la Mesa  {{ selectedMesa.numero }}</h2>
  <button class="toggle-form-button" (click)="toggleAlimentoForm()">Agregar Alimento</button>
  <div class="alimentos-list" *ngIf="selectedMesa?.alimentos && selectedMesa.alimentos.length > 0">
    <h3>Pedido:</h3>
    <ul>
      <li *ngFor="let alimento of selectedMesa.alimentos; let i = index" class="alimento-item">
        <span>{{ alimento.nombre }} - ${{ alimento.subtotal }}</span>
        <button class="delete-button" (click)="onEliminarAlimento(i)">
          <i class="fas fa-times"></i>
        </button>
      </li>
    </ul>
  </div>
  <p><strong>Total:</strong> ${{ selectedMesa.total }}</p>

  <!-- Formulario para agregar alimentos -->
  <div class="form-agregar-alimento" *ngIf="isAlimentoFormVisible">
    <h3>Agregar Alimento a la Mesa {{ selectedMesa.numero }}</h3>

    <!-- Input de búsqueda -->
    <div class="form-group">
      <label for="buscarAlimento">Buscar Alimento</label>
      <input
        id="buscarAlimento"
        type="text"
        class="form-control"
        placeholder="Ingrese el nombre del alimento"
        [(ngModel)]="alimentoSeleccionado"
        (input)="onBuscarAlimento($event)"
      />
    </div>

    <!-- Resultados de búsqueda -->
    <div class="alimentos-list" *ngIf="alimentosFiltrados.length > 0">
      <h4>Resultados:</h4>
      <ul>
        <li *ngFor="let alimento of alimentosFiltrados" (click)="seleccionarAlimento(alimento)">
          {{ alimento.nombre }} - ${{ alimento.precioUnitario.toFixed(2) }}
        </li>
      </ul>
    </div>

    <!-- Mensaje cuando no hay resultados -->
    <div *ngIf="alimentosFiltrados.length === 0 && searchQuery" class="text-muted">
      <p>No se encontraron alimentos para "<strong>{{ searchQuery }}</strong>".</p>
    </div>

    <!-- Botones -->
    <div class="button-container mt-3">
      <button class="confirm-button" (click)="onAgregarAlimento()" [disabled]="!selectedMesa || !selectedAlimento">Agregar</button>
      <button class="cancel-button" (click)="toggleAlimentoForm()">Cancelar</button>
    </div>
  </div>

  
</div>