.mesas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.mesa-card {
  width: 250px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.mesa-card:hover {
  transform: scale(1.05);
  background-color: #f1f1f1;
}

.mesa-card.selected {
  border: 2px solid #007bff;
  background-color: #e7f3ff;
}

.selected-mesa {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #e7e9eb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toggle-form-button {
  background: linear-gradient(45deg, #ff7f50, #ff4500);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.toggle-form-button:hover {
  background: linear-gradient(45deg, #ff4500, #ff7f50);
}

.form-agregar-alimento {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.alimentos-list ul {
  list-style-type: none;
  padding: 0;
}

.alimentos-list li {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
}

.alimentos-list li:hover {
  background-color: #f0f0f0;
}

.text-muted {
  color: #6c757d;
  font-size: 0.9em;
}

.alimentos-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.alimento-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 5px 0;
}

.alimento-item span {
  flex-grow: 1; 
}

.delete-button {
  background-color: #dc3545; 
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #c82333;
}

.delete-button i {
  font-size: 16px;
}

.confirm-button,
.cancel-button {
  width: 100px; 
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.confirm-button {
  background: linear-gradient(45deg, #fcb045, #fd1d1d);
  color: #fff;
}

.confirm-button:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #fd1d1d, #fcb045);
}

.cancel-button {
  background: linear-gradient(45deg, #6c757d, #343a40);
  color: #fff;
  margin-left: 10px;
}

.cancel-button:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, #343a40, #6c757d);
}

.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 15px; 
  margin-top: 20px; 
}