.calendar-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .calendar-title h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

 .calendar-container {
    width: 95%;
    max-width: 500px;
    margin: 1.5rem auto;
  }
  
  .month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .nav-button {
    background-color: #ffa726; 
    color: rgb(69, 69, 69);
    padding: 0.4rem .8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .month-display {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
  }
  
  .day-square {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
  .empty-day {
    background-color: transparent;
    border: none;
  }

  .reserva-day {
    background-color: #aba8a8; 
    color: rgb(226, 226, 226);
  }

  .selected-day {
    background-color: #e99e58;
    color: white;
    font-size: 0.8rem;
  }
  
  .reservas-container {
    margin-top: 2rem;
    padding: 1.2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reservas-container h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin: .85rem auto;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 10px 12px;
    text-align: left;
    font-size: 0.9rem;
  }
  
  table th {
    background-color: #595959; 
    color: rgb(218, 215, 215);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #f1f9ff;
  }
  
  table td {
    color: #555;
  }
  
  .no-reservas-message {
    text-align: center;
    font-size: 1rem;
    color: #999;
    margin-top: 1rem;
  }

  .no-reservas-message {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    font-size: 1rem; 
    color: #999; 
    margin-top: 1.5rem; 
    padding: 1rem; 
  }