<div class="calendar-title">
    <h2>Calendario de Mesas Reservadas</h2>
</div>

<div class="calendar-container">
    <div class="month-navigation">
      <button (click)="prevMonth()" class="nav-button prev-button">
        Anterior
      </button>
      
      <span class="month-display">{{ selectedMonth }} {{ selectedYear }}</span>
  
      <button (click)="nextMonth()" class="nav-button next-button">
        Siguiente
      </button>
    </div>
  
    <div class="days-header">
      <div *ngFor="let day of daysInitials" class="day-initial">
        {{ day }}
      </div>
    </div>
  
    <div class="days-grid">
        <div 
          *ngFor="let day of currentMonthDays" 
          class="day-square" 
          [ngClass]="{ 
            'empty-day': day === '', 
            'selected-day': day === selectedDay,
            'reserva-day': esDiaConReserva(day)}" 
          (click)="seleccionarDia(day)">
          {{ day }}
        </div>
    </div>
</div>

<div class="reservas-container" *ngIf="reservasFiltradas.length > 0">
      <h3 *ngIf="selectedTextDay.day !== null && selectedTextDay.month !== null">
        Reservas para el {{ selectedTextDay.day }} de {{ selectedTextDay.month }}
      </h3>
        <table>
        <thead>
            <tr>
            <th>Cliente</th>
            <th>Mesa</th>
            <th>Número de Personas</th>
            <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of reservasFiltradas">
            <td>{{ reserva.clienteNombre }}</td>
            <td>{{ reserva.mesaNumero }}</td>
            <td>{{ reserva.numeroPersonas }}</td>
            <td>{{ reserva.estado }}</td>
            </tr>
        </tbody>
        </table>
</div>
<div *ngIf="reservasFiltradas.length === 0 && selectedDay !== null">
  <p class="no-reservas-message">
    No hay reservas para el día {{ selectedDay }} de {{ selectedMonth }}.
  </p>
</div>