/* Contenedor principal */
.app-container {
  display: flex; /* Flex para ajustar dinámicamente el contenido */
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Evita el scroll horizontal */
}

/* Sidebar */
app-sidebar {
  width: 250px; /* Ancho inicial del sidebar abierto */
  flex-shrink: 0; /* Mantiene su tamaño fijo */
  transition: width 0.4s ease; /* Ajustamos la duración a 0.4s */
}

app-sidebar.closed {
  width: 75px; /* Ancho del sidebar cerrado */
}

/* Contenido principal */
.content {
  flex: 1; /* Ocupa el espacio restante */
  overflow-y: auto; /* Permite scroll vertical */
  background-color: #f8f9fa; /* Fondo claro */
  transition: width 0.4s ease, flex-grow 0.4s ease, margin-left 0.4s ease; /* Coincidir la duración */
}