<h3>Tabla de Meseros</h3>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Cédula</th>
      <th>Usuario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{ empleado.nombres }}</td>
      <td>{{ empleado.apellidos }}</td>
      <td>{{ empleado.email }}</td>
      <td>{{ empleado.cedula }}</td>
      <td>{{ empleado.usuario }}</td>
      <td>
        <button class="btn btn-warning btn-sm">Editar</button>
        <button class="btn btn-danger btn-sm">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>