<button class="open-modal-button" (click)="abrirModalCrearPedido()">Agregar Pedido</button>


<div class="pedidos-section">
    <h2 class="section-title">Pedidos Para Llevar</h2>
    <div class="pedidos-container">
      <div *ngFor="let pedido of pedidos" class="pedido-card" (click)="seleccionarPedido(pedido.id)">
        <h3>{{ pedido.clienteNombre }}</h3>
      </div>
    </div>
  </div>
  
  <div class="pedido-detalle" *ngIf="pedidoSeleccionado">
    <h2>Detalles del Pedido</h2>
    <p><strong>Cliente:</strong> {{ pedidoSeleccionado.clienteNombre }}</p>
    <p><strong>Teléfono:</strong> {{ pedidoSeleccionado.telefono }}</p>
  
    <div *ngIf="!isAlimentoFormVisible">
      <button class="toggle-form-button" (click)="toggleAlimentoForm()">Agregar Alimento</button>
    </div>
  
    <div class="form-agregar-alimento" *ngIf="isAlimentoFormVisible">
      <h3>Agregar Alimento al Pedido</h3>
  
      <div class="form-group">
        <label for="buscarAlimento">Buscar Alimento</label>
        <input
          id="buscarAlimento"
          type="text"
          [(ngModel)]="alimentoSeleccionado"
          (input)="onBuscarAlimento($event)"
          placeholder="Ingrese el nombre del alimento"
        />
      </div>
  
      <div *ngIf="alimentosFiltrados.length > 0">
        <ul>
          <li *ngFor="let alimento of alimentosFiltrados" (click)="seleccionarAlimento(alimento)">
            {{ alimento.nombre }} - ${{ alimento.precioUnitario.toFixed(2) }}
            <span [ngClass]="{ 'activo': alimento.activo, 'inactivo': !alimento.activo }">
              {{ alimento.activo ? 'Disponible' : 'No Disponible' }}
            </span>
          </li>
        </ul>
      </div>
  
      <div *ngIf="alimentosFiltrados.length === 0 && alimentoSeleccionado" class="text-muted">
        <p>No se encontraron alimentos para "<strong>{{ alimentoSeleccionado }}</strong>".</p>
      </div>
  
      <div class="button-container mt-3">
        <button 
          class="confirm-button" 
          (click)="onAgregarAlimento()" 
          [disabled]="!pedidoSeleccionado || !selectedAlimento || !selectedAlimento.activo">
          Agregar
        </button>
        <button class="cancel-button" (click)="toggleAlimentoForm()">Cancelar</button>
      </div>
    </div>
  
    <h3>Alimentos en el Pedido:</h3>
    <div class="alimentos-list" *ngIf="pedidoSeleccionado?.alimentos && pedidoSeleccionado.alimentos.length > 0">
      <ul>
        <li *ngFor="let alimento of pedidoSeleccionado.alimentos; let i = index">
          {{ alimento.nombre }} - ${{ alimento.subtotal }}
          <button class="delete-button" (click)="onEliminarAlimento(i)">
            <i class="fas fa-times"></i>
          </button>
        </li>
      </ul>
    </div>
  
    <div *ngIf="pedidoSeleccionado?.alimentos && pedidoSeleccionado.alimentos.length > 0">
      <p><strong>Total:</strong> ${{ pedidoSeleccionado.total }}</p>
    </div>
  </div>

<div class="modal-overlay" *ngIf="showCrearPedidoModal">
    <div class="modal-content">
      <h3>Crear Pedido para Llevar</h3>
  
      <div class="form-group">
        <label for="clienteNombre">Nombre del Cliente</label>
        <input
          id="clienteNombre"
          type="text"
          [(ngModel)]="clienteNombre"
          placeholder="Ingrese el nombre del cliente"
        />
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono del Cliente</label>
        <input
          id="telefono"
          type="text"
          [(ngModel)]="telefono"
          placeholder="Ingrese el número de teléfono"
        />
      </div>
  
      <div class="button-container">
        <button class="confirm-button" (click)="crearPedido()">Crear Pedido</button>
        <button class="cancel-button" (click)="cerrarModalCrearPedido()">Cancelar</button>
      </div>
    </div>
  </div>