  .home-container {
    height: 100vh; 
    background: linear-gradient(to bottom, #2f343b, #3a4353); 
    color: white; 
}
  
  h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
  
  p {
    font-size: 1.25rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); 
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

  .btn-custom {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff; 
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px; 
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: all 1s ease; 
}

  .btn-custom:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f); 
    color: #fff; 
    box-shadow: 0 6px 25px rgba(255, 126, 95, 0.6); 
    transform: translateY(-2px) scale(1.05); 
    filter: brightness(1.1); 
}