.balance-buttons {
  display: flex;
  justify-content: center; 
  gap: 15px; 
  margin: 50px; 
}

.balance-buttons .btn {
  background-color: #fdf4e3;
  color: #ff7f00;
  border: 1px solid #ff7f00; 
  border-radius: 5px; 
  padding: 10px 15px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: none; 
}

.balance-buttons .btn:hover,
.balance-buttons .btn:focus,
.balance-buttons .btn:active {
  background-color: #fdf4e3;
  color: #ff7f00;
  border-color: #ff7f00;
}


.balance-buttons .active-btn {
  background-color: #ff7f00; 
  color: #fdf4e3; 
  border-color: #fdf4e3; 
}