<h3 class="mt-3 mb-3">Lista de Cocineros</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Cédula</th>
      <th>Usuario</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cocinero of cocineros">
      <td>{{ cocinero.nombres }}</td>
      <td>{{ cocinero.apellidos }}</td>
      <td>{{ cocinero.email }}</td>
      <td>{{ cocinero.cedula }}</td>
      <td>{{ cocinero.usuario }}</td>
      <td>
        <button class="btn-custom-grey">Editar</button>
        <button class="btn-custom-dark-blue">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>